@use "../../../../styles/utils" as *;

.headline {
    display: grid;
    grid-auto-flow: row;
    @include animateEntry(fade-in-top);

    p {
        margin: 0;
        font-size: 3.7rem;
        font-weight: bold;

        &:nth-of-type(3) {
            color: #d5333e;
        }

        &::selection {
            background: #fff;
            color: #0000ff;
        }
    }

    @include sm {
        p {
            font-size: 10.5vw;
        }
    }

    @include md {
        p {
            font-size: 3rem;
        }
    }

    @include lg {
        p {
            font-size: 3.3rem;
        }
    }

    @include xl {
        p {
            font-size: 3.5rem;
        }
    }
}