@use "../styles/utils" as *;

.root {
    display: grid;
    grid-auto-flow: row;
    gap: 64px;
}

.headlineAndCategories {
    display: grid;
    grid-auto-flow: row;
    padding: 110px 57px 0 57px;
    gap: 64px;

    @include sm {
        padding: 110px 24px 0 24px;
    }

    @include lg {
        padding: 110px 73px 0 73px;
    }

    @include xl {
        padding: 110px 135px 0 135px;
    }

    @include up(1440) {
        padding: 110px 200px 0 200px;
    }
}