@use "../../styles/utils" as *;

.navRoot {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    height: 100px;
    padding: 0 30px;
    align-items: center;

    @include animateEntry(fade-in-bottom);

    gap: 64px;

    * {
        font-size: 13px;
    }

    img {
        cursor: pointer;
    }

    ul, .links {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 64px;
        padding: 0;
        margin: 0;

        li {
            position: relative;
        }

        li a:hover:after {
            width: 100%;
        }

        li a:after {
            content: "";
            display: block;
            background: #212121;
            width: 0;
            margin-top: 2px;
            height: 2px;
            transition: width 500ms ease;
        }
    }

    button {
        border-radius: 24px;
        background-color: #212121;
        color: #fafafa;
        height: 48px;
        border: none;
        outline: none;
        padding: 0 16px;
        cursor: pointer;
        transition: .2s ease-in-out;

        &:hover {
            transform: scale(1.02);
        }
    }

    .menuButton {
        width: 48px;
        height: 48px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #212121;
        border-radius: 100%;
        gap: 6px;

        position: relative;
        transition: .5s ease-in-out;

        z-index: 1001;

        div {
            display: block;
            width: 24px;
            height: 2px;
            background: #fafafa;

            opacity: 1;
            left: 12px;
            position: absolute;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            border-radius: 2px;
        }

        div:first-of-type {
            top: 12px;
        }

        div:nth-of-type(2) {
            top: 23px;
        }

        div:last-of-type {
            top: 34px;
        }
    }

    .menuButtonOpened {
        div:first-of-type {
            top: 23px;
            transform: rotate(135deg);
        }

        div:nth-of-type(2) {
            opacity: 0;
        }

        div:last-of-type {
            top: 23px;
            transform: rotate(-135deg);
        }
    }

    .navMenu {
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        gap: 40px;
        transition: .5s ease-in-out;

        a {
            font-size: 24px;
            color: #fafafa;
            transform: translateY(10px);
            transition: .5s ease-in-out;
        }
    }

    .navMenuOpened {
        visibility: visible;
        opacity: 1;

        a {
            transform: translateY(0);
        }
    }

    .circle {
        display: none;
        position: fixed;
        z-index: 999;
        width: 48px;
        height: 48px;
        right: 30px;
        top: 26px;

        border-radius: 100%;
        background: #212121;
        transition: .5s ease-in-out;
    }

    .circleOpened {
        visibility: visible !important;
        width: 400vh;
        height: 400vh;
        border-radius: 100%;
        background: #212121;
        top: 0;
        right: 0;
        transform: translate(200vh, -80vh);
    }

    @include down(976) {
        grid-template-columns: max-content max-content;
        justify-content: space-between;

        .links, button {
            display: none;
        }

        .circle {
            display: block;
            visibility: hidden;
        }

        .menuButton {
            display: flex;
        }
    }
}

.navRootSecondary {
    grid-template-columns: max-content max-content;
    justify-content: space-between;

    .backToWorkListItem:before {
        content: "";
        width: 12px;
        height: 7px;
        background: url(https://www.codigo.co/img/icons/arrow-red.svg);
        background-size: cover;
        display: inline-block;
        transform: scaleX(-1);
        margin-right: 12px;
        margin-bottom: 2px;
    }

    .backToWorkListItem a:after {
        margin-left: 24px;
    }

    .backToWorkListItem:hover a:after {
        width: calc(100% - 24px);
        margin-left: 24px;
    }
}

.active {
    font-weight: bold;
}